<?xml version="1.0"?>

<model>
  <name>90deg</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ambjørn Waldum</name>
    <email>ambjorngwaldum@hotmail.com</email>
  </author>

  <description>
    90 deg pathmarker for computer vision testing
  </description>
</model>
